.library-content {
  background-color: black;
  width: 100%;
  background-image: url("../../assets/images/homepage/wide-bg.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  color: $gray;
  border-top: 1px solid #ff7a00;

  h5 {
    color: $gray;
    font-weight: 600;
    word-break: break-all;
    @media (max-width: 767.98px) {
      font-size: 16px;
    }
  }

  .library-category {
    text-align: center;
    text-transform: uppercase;
  }
}

.video-detail {
  width: 100%;
  .detail-head {
    background-image: url("../../assets/images/homepage/detail-bg.png");
    background-position: top;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: soft-light;
    padding: 25px 0;
    text-align: center;
    position: relative;
    img {
      height: 60px;
    }
    .video-detail-location {
      position: absolute;
      right: 60px;
      top: 43px;
      text-transform: uppercase;
      font-size: 14px;
      a {
        color: white;
      }
    }
    @media (max-width: 767.98px) {
      & {
        text-align: left;
        padding: 15px 0;
        img {
          height: 40px;
          margin-left: 30px;
        }
        .video-detail-location {
          right: 30px;
          top: 25px;
        }
      }
    }
  }
  .detail-content {
    background-position: center;
    background-size: cover;
    padding: 250px 0 170px;
    position: relative;
    img {
      height: 110px;
    }
    @media (max-width: 767.98px) {
      & {
        padding: 85px 0;
        img {
          height: 70px;
        }
      }
    }
    .trivia-block {
      width: 100%;
      position: absolute;
      bottom: 20px;
      .trivia-text {
        border-left: 3px solid orange;
        padding: 0 10px;
        font-size: 13px;
        font-weight: 700;
        max-width: 390px;
        line-height: 17px;
      }
    }
  }
}

.detail-value-box {
  margin-bottom: 20px;
  p {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3px;
  }
  pre {
    font-size: inherit;
    color: inherit;
  }
}

.empty-search {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    img {
      width: 90%;
    }
    p {
      font-size: 14px;
    }
  }
}

.awards-img {
  width: 220px;
  height: 130px;
  border-radius: 8px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 96%;
    width: auto;
  }
}

.mt-80 {
  margin-top: 80px;
}

.player-container {
  min-height: 100vh;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .player-box {
    width: 100%;
    height: 100%;
    max-width: 1580px;
    position: relative;

    .jw-flag-user-inactive.jw-state-playing:not(.jw-flag-media-audio):not(.jw-flag-audio-player):not(.jw-flag-ads-vpaid-controls):not(.jw-flag-casting)
      .jw-controlbar {
      visibility: visible;
      opacity: 1;
    }

    .jw-title {
      padding-top: 50px !important;
    }

    .control-btn {
      color: white;
      position: absolute;
      cursor: pointer;
      &:hover {
        color: $lightorange;
      }
    }

    .info {
      bottom: 40px;
      left: 0;
      right: 0;
      width: fit-content;
      margin: auto;
      width: fit-content;
      max-width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .report {
      top: 15px;
      right: 65px;
      font-size: 22px;
    }

    .share {
      top: 15px;
      right: 30px;
      font-size: 22px;
    }

    .logo {
      top: 15px;
      left: 20px;
      img {
        height: 33px;
      }
    }

    @media (max-width: 1280px) {
      .info {
        bottom: 13px;
        font-size: 13px;
        max-width: 200px;
      }
    }
    @media (max-width: 768px) {
      .info {
        max-width: 70px;
        .anticon {
          display: none;
        }
      }
    }
  }
}

.film-details {
  padding: 5px;
  img {
    width: 95%;
    height: auto;
    border-radius: 10px;
  }
  .detail-title {
    font-size: 14px;
    font-weight: 600;
  }
  pre {
    font-size: 14px;
    font-family: inherit;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
}

.report-form {
  margin-top: 10px;
  p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .report-case-box {
    margin-bottom: 10px;
    span {
      color: $gray-600;
    }
  }
  .report-file {
    width: 250px;
  }
}

.share-icons {
  display: flex;
  margin: 50px 0;
  width: 100%;
  justify-content: space-around;
  .share-icon {
    text-align: center;
    .icon {
      width: 72px;
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 36px;
      box-shadow: 0 1px 6px #ddd;
      margin-bottom: 7px;
      cursor: pointer;
      img {
        width: 25px;
      }
      .anticon {
        font-size: 28px;
      }
    }

    span {
      color: $orange;
    }
    @media (max-width: 768px) {
      .icon {
        width: 52px;
        height: 52px;
        border-radius: 26px;
      }
      span {
        font-size: 11px;
      }
    }
  }
}

.copy-link {
  text-align: center;
  margin-bottom: 40px;
  p {
    font-weight: 600;
    color: $gray-600;
  }
  .ant-input-suffix .anticon {
    color: $orange;
    font-size: 20px;
    &:hover {
      font-size: 21px;
    }
  }
  .ant-input-disabled,
  .ant-input-affix-wrapper-disabled {
    cursor: default;
  }
}
