.table-photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.table-film-photo {
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 6px $orange;
  }
}

.unresolved-report {
  background-color: #defafa;
}

.admin-box {
  border-top: 1px solid $orange;
  height: calc(100vh - 90px);
  overflow-y: auto;
  aside {
    height: 100%;
    overflow-y: auto;
  }
  .site-layout {
    background: black;
    overflow-y: auto;

    .ant-breadcrumb,
    .ant-breadcrumb-separator {
      color: $gray;
      font-weight: 500;
      & > span:last-child {
        color: $gray-500;
      }
    }

    .admin-main {
      padding: 30px 20px;
    }

    .content-admin {
      h5 {
        color: $gray;
      }
      .card {
        background: #242428;
        table {
          color: $gray;
          td {
            font-size: 14px;
            max-width: 300px;
          }
          .video-table-desc {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
          }
          th.sortable {
            cursor: pointer;
            span {
              font-size: 18px;
            }
            .caret-4-desc:before {
              margin-left: 3.5px;
              content: "\2191";
              opacity: 0.4;
            }
            .caret-4-desc:after {
              content: "\2193";
            }
            .caret-4-asc:before {
              margin-left: 3.5px;
              content: "\2191";
            }
            .caret-4-asc:after {
              content: "\2193";
              opacity: 0.4;
            }
            .order-4 {
              -ms-flex-order: 4;
              order: 4;
              &::after {
                content: "\2193";
                opacity: 0.4;
              }
              &::before {
                margin-left: 3.5px;
                content: "\2191";
                opacity: 0.4;
              }
            }
          }
        }
        input.form-control {
          background: #111;
          border: none;
          color: $gray;
          box-shadow: none;
          font-weight: 400;
        }
      }
    }
  }
  .ant-tabs-bar {
    border-bottom: 1px solid #ddd;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border-color: #ddd;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    border-bottom: 0;
  }
}

.column-btn {
  padding-top: 0 !important;
}

.admin-action {
  .ant-btn {
    padding-left: 0;
  }
}

.admin-settings-block {
  position: relative;
  background-color: white;
  border: 1px solid $gray-300;
  box-shadow: 1px 1px 15px $gray-2;
  padding: 30px;
  padding-bottom: 70px;
  margin-bottom: 50px;

  .btn-admin-save {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}

.btn-no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: auto !important;
}

.ant-collapse-header {
  color: $blue-3 !important;
}

.hidden-table {
  display: none;
}

@media screen and (max-width: 768px) {
  .admin-list-column {
    flex-direction: column;

    .list-box {
      margin-left: 0px !important;
    }
  }
}
