.big-uploader {
  max-width: 250px;
  position: relative;

  .ant-upload-select-picture-card {
    width: 100% !important;
    height: auto !important;
    padding: 40px 30px !important;
  }

  .ant-upload-text {
    margin-top: 20px;
  }
  .upload-remove {
    position: absolute;
    top: 26px;
    right: 17px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.7s, 0.7s;
  }
}

.big-uploader:hover .upload-remove {
  opacity: 1;
}

.cropper {
  position: relative;
  height: 400px;
}
