@import './variables.scss';
@import './base.scss';
@import './pages.scss';
@import './auth.scss';
@import './user.scss';
@import './dashboard.scss';
@import './profile/index.scss';
@import './message.scss';
@import './admin.scss';
@import './notification.scss';
@import './component.scss';
@import url('../assets/style.css');
@import url('../assets/responsive.css');
@import url('./homepage.scss');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #212529;
}

.layout {
  width: 100%;
  height: 100%;
  background-color: #f5f5ff;
  .ant-badge {
    color: inherit;
  }
}

.home_layout {
  width: 100%;
  height: 100%;
  background-color: #0a0a0b;
}

.ant-modal {
  font-family: 'Poppins';
}

.admin-nav {
  // background-image: linear-gradient(
  //   rgb(173, 124, 196),
  //   rgb(71, 38, 97),
  //   rgb(55, 21, 75)
  // ) !important;
  background-color: #ebd0f1 !important;
}

.main-nav {
  // text-transform: uppercase;
  width: 100%;
  z-index: 100;
  // background-image: linear-gradient(
  //   $light-dark,
  //   $black-1,
  //   $light-dark
  // );
  background-color: $white;
  box-shadow: 0px 0px 5px $gray-2;
  min-height: 70px;

  .navbar-brand img {
    height: 30px;
  }

  .container-nav {
    padding: 10px 5%;
  }
  nav a:hover {
    color: #888 !important;
  }
  nav a {
    color: #333 !important;
    .ant-badge {
      color: #333;
      padding-top: 5px;
    }
  }

  button a {
    color: gray !important;
  }

  button a:hover {
    color: black !important;
  }
  & .page-logo {
    h3 {
      color: #333;
    }
  }

  .anticon {
    vertical-align: 5px !important;
  }
}
.ant-badge {
  font-size: inherit !important;
  .ant-badge-count {
    height: 16px;
    min-width: 16px;
    border-radius: 8px;
    right: -2px;
    padding: 0 5px;
    line-height: 16px;
    top: 5px;
  }
}

.anticon {
  vertical-align: 2px !important;
}

.content {
  padding: 50px;
  min-height: calc(100vh - 150px);
  margin: 0 auto;
  & .summary {
    color: white !important;
  }

  .ant-page-header {
    padding: 0 !important;
  }

  .sun-editor-editable {
    font-family: inherit;
    font-size: 16px;
    background-color: transparent;
    padding: 0;
    margin-bottom: 10px;
    p,
    ul {
      margin-bottom: 5px;
    }
  }
}

.footer_block {
  background-image: linear-gradient(58deg, #0056f5, #33ccf4);
  background-color: #0e7681;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
    img {
      width: 120px;
      height: auto;
    }
  }
}

.ant-dropdown-placement-bottomRight {
  top: 20px !important;
  & ul {
    border-radius: 7px;
    padding: 10px;
  }
  & h5 {
    font-size: 13px;
    font-weight: bolder;
  }
}

.ant-popover {
  max-height: 50vh;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 30px !important;
  }
  h3 {
    font-size: 1.4rem !important;
  }
  h5 {
    font-size: 1.1rem !important;
  }
  .main-nav {
    .navbar-brand img {
      height: 25px;
    }
  }
  .footer {
    img {
      height: 35px !important;
    }
    .container {
      flex-direction: column;
    }
    .footer-list {
      margin-top: 20px;
      text-align: left;
    }
  }
}
