// Variables

//
// Color system
//
$white:    #fff !default;
$gray: #f2f2f3;
$gray-200: #ede9e9;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #98a6ad;
$gray-700: #6c757d;
$gray-800: #343a40 !default;
$gray-900: #313a46;
$black:    #000 !default;

$blue: blue;
$purple-blue: #4d73be;
$purple-dark-blue: #36538a;
$blue-1: #1a245d;

$green: #A2D23E;
$dark-green: #375f03;
$dark-blue: #637e89;
$light-blue: #52c6f4;
$light-gray: #c7d0d8;
$dark: #182a2d;
$black-1: #051e22;
$light-dark: #3e4d49;

$white-gray: #f7f9fb;
$gray-1: #808285;
$gray-2: #bcbec0;

$blue-2: #062c79;
$blue-3: #1890ff;

$orange-100: #f0b87c;
$orange-200: #FF7E3D;
$orange-primary: #EF854E;
$citrus: linear-gradient(95.35deg, #FFC450 -38.07%, #FF7E3E 157.57%, red);

$border-radius-base: 16px;