.user-info {
  padding-top: 40px;
  padding-bottom: 60px;
  letter-spacing: 1px;
  font-weight: 100;

  b {
    font-weight: 500;
  }
  .user-card {
    display: flex;
    align-items: center;
    .user-card-desc {
      margin-left: 40px;
      margin-top: 50px;
    }
    h4 {
      color: $gray;
    }

    @media screen and (max-width: 768px) {
      & {
        flex-direction: column;
        .user-card-desc {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }

  .user-info-value {
    display: flex;
    margin-bottom: 30px;
    b,
    span {
      flex: 1;
    }
  }

  .material-btn {
    padding: 10px 30px;
  }
}

.profile-filmbox {
  background-image: url("../../assets/images/general/main-bg.png");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  color: $gray;
  position: relative;
  padding: 50px 0;
  a {
    color: inherit;
    &:hover {
      text-decoration: unset;
    }
  }

  .video-card {
    width: 100%;
    margin-bottom: 40px;

    img {
      height: 220px;
      width: 100%;
      border-radius: 10px;
    }
    .slide-footer {
      position: relative;
      margin: 15px;
      .title {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0px;
      }
      .description {
        font-size: 12px;
      }
      .anticon {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.filmbox-blendcolor {
  background: linear-gradient(180deg, #f98600 0%, rgba(0, 0, 0, 0) 100%);
  mix-blend-mode: normal;
  opacity: 0.25;
  transform: rotate(-180deg);
  height: 100px;
  margin-top: -100px;
}