.privacy-wrapper {
  position: relative;
}

.privacy,
.term {
  &-container {
    position: relative;
    z-index: 100;
    padding-bottom: 100px;
    .container {
      padding: 0 40px;
    }
    .auth-breadcrumb {
      padding: 0;
      a {
        color: #ff7a00;
        &:hover {
          color: #ff7a00;
          text-decoration: none;
        }
      }
    }
  }
  &-content {
    padding-top: 40px;
    .bg-linear {
      display: none;
    }
    .background-image {
      display: none;
      img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  &-statement,
  &-infor {
    &--title {
      font-weight: 700;
      font-family: Montserrat;
      font-style: normal;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      letter-spacing: 0.18px;
      margin-bottom: 40px;
    }
    .text-content {
      font-family: Nunito;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgba(239, 239, 239, 0.7);
      mix-blend-mode: normal;
      opacity: 0.7;
      .email-color {
        color: #fb8d1d;
      }
      .color-white {
        color: #ffffff;
      }
    }
    .text-content.text-bold {
      opacity: 1;
    }
    .pd-bt40 {
      padding-bottom: 40px;
      display: block;
    }
    .text-fw {
      font-weight: 800;
    }
  }
  &-element {
    &--title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 62px;
      letter-spacing: 1px;
      color: #ffffff;
    }

    ul {
      margin-left: 40px;
    }
    li {
      padding-bottom: 20px;
    }
  }

  &-footer {
    p {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.7;
      span {
        font-weight: 400;
      }
    }
  }
}

.z-100 {
  position: relative;
  z-index: 100;
}
.term {
  &-content {
    ul {
      list-style: none;
    }
  }
  &-element {
    &--title {
      padding-left: 40px;
    }
    ul {
      margin: 0;
    }
  }
}
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .privacy,
  .term {
    &-content {
      .bg-linear {
        display: block;
      }
      .background-image {
        display: block;
      }
    }
    &-element {
      ul {
        margin-left: 20px;
      }
    }
  }
}
