@import "./register/style.scss";

.auth-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invite-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 20px 10px;
  h3 {
    color: $orange;
    margin-bottom: 20px;
    text-align: center;
  }
  .forgot {
    color: $orange;
    font-weight: 500;
  }
  .login-divider {
    margin-top: 40px;
    margin-bottom: 20px;
    p {
      text-align: center;
      width: 50px;
      background: white;
      z-index: 1;
      margin: auto;
      margin-top: -28px;
    }
  }
  .login-social-btns {
    display: flex;
    justify-content: space-between;
    .ant-btn-lg {
      height: auto;
      padding: 10px 21px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
    }
  }
  .login-bottom {
    color: #aaa;
    text-align: center;
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    a {
      font-weight: 500;
    }
  }
}

.forgot-form {
  padding-top: 50px !important;
}

.verify-redirect {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  a {
    color: white;
  }
}

.verify-link {
  color: blue !important;
  font-weight: 600;
}

.register-form {
  .login-remember {
    display: flex;
    justify-content: flex-start;
    .ant-checkbox-wrapper {
      color: $gray;
    }
  }
  h5 {
    color: inherit;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .confirm-img {
    width: 160px;
    margin: 30px;
  }
}

@media screen and (max-width: 768px) {
  .login-form {
    max-width: 500px;
    padding: 15px 3px;
    .login-social-btns {
      .ant-btn-lg {
        padding: 10px 9px;
        font-size: 12px;
        letter-spacing: 0px;
        .mr-2 {
          margin-right: 0 !important;
        }
      }
    }
  }
}
